@font-face {
    font-family: Lora-regular;
    src: url(./assets/fonts/Lora-Regular.ttf);
}
@font-face {
    font-family: Lora-bold;
    src: url(./assets/fonts/Lora-Bold.ttf);
}
@font-face {
    font-family: Lora-semibold;
    src: url(./assets/fonts/Lora-SemiBold.ttf);
}
@font-face {
    font-family: Lora-medium;
    src: url(./assets/fonts/Lora-Medium.ttf);
}
@font-face {
    font-family: Roboto-regular;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-light;
    src: url(./assets/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto-extralight;
    src: url(./assets/fonts/Roboto-ExtraLight.ttf);
}
@font-face {
    font-family: Roboto-thin;
    src: url(./assets/fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: Roboto-medium;
    src: url(./assets/fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto-semibiold;
    src: url(./assets/fonts/Roboto-SemiBold.ttf);
}
@font-face {
    font-family: Roboto-bold;
    src: url(./assets/fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-extrabold;
    src: url(./assets/fonts/Roboto-ExtraBold.ttf);
}

@import "tailwindcss";


@theme {
    --font-lora-reg : Lora-regular, 'sans-serif';
    --font-lora-bold: Lora-bold, "sans-serif";
    --font-lora-semibold: Lora-semibold, "sans-serif";
    --font-lora-medium: Lora-medium, "sans-serif";
    --font-roboto-regular: Roboto-regular, "sans-serif";
    --font-roboto-light: Roboto-light, "sans-serif";
    --font-roboto-extralight: Roboto-extralight, "sans-serif";
    --font-roboto-thin: Roboto-thin, "sans-serif";
    --font-roboto-medium: Roboto-medium, "sans-serif";
    --font-roboto-semibold: Roboto-semibiold, "sans-serif";
    --font-roboto-bold: Roboto-bold, "sans-serif";
    --font-roboto-extrabold: Roboto-extrabold, "sans-serif";
}
